.app-wrapper{
  display: grid;
  grid-template-areas:
  'h h'
  'n c';
  margin: 10px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
grid-area: h;
  background-color: darkslateblue;
}

.nav{
grid-area: n;
  background-color: darkslateblue;
  padding: 1em;
}

a{
  color: white;
  text-decoration-line: none;
}

.content{
  grid-area: c;
  border: 1px black;
}

.App-logo{
  height: 60px;
  width: 60px;
}

.upper-image{
  height: 140px;
  width: 100%;
  /*margin: 0 auto;*/
}